.Xaxis {

    color: #909093;
  }

  .Xaxis .domain {

    stroke: #909093 

  }

  .Yaxis {

    color: #909093;
  }

  .Yaxis .domain {

    stroke: #909093 

  }

  .Graph{
    margin:10px 10px 0px 10px;
    background-color: rgb(25,25,25);
  }