.navbarRE {}

.navbar {
    display: flex;
    justify-content: center;
    height: 65px
}

.form-control{

    height: 55px;
    width: 75vw;
    font-size: 28px;
    

}

.navbar-brand{
    text-wrap: balance;
  
}
.MuiInputLabel-formControl {

    top: -5px !important;
    font-size: 14px !important;

}


