.navbarRE {}

.navbar {
    display: flex;
    justify-content: center;
    height: 81px
}

.form-control{

    height: 55px;
    width: 75vw;
    font-size: 28px;
    

}

.navbar-brand{
    text-wrap: balance;
  
}

