@font-face {
    font-family: 'Paul';
    src: url('./Componants/Font/PaulGroteskSoft-Regular-Trail.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.App {

    overflow-y: hidden;
    font-family: "helvetica";
}

/* For the entire Portfolio card */
.portfolio-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.07);
    max-width: 800px; /* or your preferred width */
    margin: 20px auto; /* centers the card horizontally */
    background-color: rgb(10, 25, 47);; /* or any color you prefer */
}

/* If you want individual project cards within the portfolio to have shadows as well */
.project-card {
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 3px 10px rgba(0, 0, 0, 0.03);
    background-color: #f9f9f9; /* or any other color you prefer */
}

/* Other styles for your links or images can be added accordingly */

.bodybit{
    color: #8892b0;
}
.tagdescription{
    color: #8892b0;
}

.hi{
    color: rgb(78, 197, 175);
}

