@font-face {
    font-family: 'Paul';
    src: url('./Componants/Font/PaulGroteskSoft-Regular-Trail.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.App {

    overflow-y: hidden;
    font-family: "helvetica";
}