.Panels {
    position: absolute;
    height: calc(100vh - 350px);
    width: calc(100% - 50px);
    top: 49px;
    left: 50px;
    transition: all 0.5 ease;
    margin-top: 6px;
    margin-left: 0px;

}

.Panels div {
  
    margin: 0px auto 0px auto;
    padding: 0px;

}

.card-text{
    margin-bottom: 0px;

}


