.Panels {
    position: absolute;
    height: calc(100vh - 55px);
    width: 100%;
    top: 49px;
    left: 0px;
    transition: all 0.5 ease;
    margin-top: 6px;
    margin-left: 0px;

}

.Panels div {
  
    margin: 0px auto 0px auto;
    padding: 0px;

}

.navbarRE {
    position: absolute;
    height: 59px;
    width: 100%;
    left: 0px;
    transition: all 0.5 ease;

}

.card-text{
    margin-bottom: 0px;

}

.sideNav.active~.Panels {
    width: calc(100% - 243px);
    left: 239px
}

.row-1{
    height: 8.33333333%;
}
.row-2{
    height:16.66666667%;
}
.row-3{
    height:25%;
}
.row-4{
    height:33.33333333%;
}
.row-5{
    height: 41.66666667%;
}
.row-6{
    height:50%;
}
.row-7{
    height:58.33333333%;
}
.row-8{
    height:66.66666667%;
}
.row-9{
    height:75%;
}
.row-10{
    height:83.33333333%;
}
.row-11{
    height:91.66666667%;
}
.row-12{
    height:100%;
}
.ForcastCardContainer{
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    height: 100%;

}

.ForcastCardContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

