.card{
    min-width: 75px;
    border-radius: 0px; 
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 100%;

}

.firstCard{
    border-bottom: 3px solid lightskyblue;

}

.nextCard{
    border-top: 3px solid orange;

}