.Quaters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    gap: 20px;
    margin-right: 55px;
    height: 65vh;
    
    position: relative;
    padding-bottom: 40px;
    
    
  }
  
  /* Style the individual tables */
  .Quaters .tg {
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    /* Add a fixed height to each table container */
    height: auto;
    overflow: hidden;
    padding: 8px;
  }
  
  .Quaters .datekickoff{
    width: 115px !important;
    text-align: left !important;
  }
  
  .Quaters .tg th {
    
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: 55px;
  }
  
  .Quaters .tg .tg-0la1{
    text-align: left ;
    width: 135px ;
  }
  .tablewrapper{
    padding: 0px !important;
  }
  
  .Quaters .tg .tg-0pk1{
    text-align: left ;
    width: 135px ;
  }

  .Quaters .tg .tg-0pk3{
   
    width: 135px ;
  }

  .Quaters .tg .tg-0pk4{
   background-color: white;
   border-right: 2px dotted darkgray;
    
  }
  .Quaters .tg .tg-0pk5{
    background-color: white;
    
  }

  
  .Quaters .opponent{
    
    width: 100px !important;
  }
  
  .Quaters .tg td {
    
    padding: 8px;
    text-align: center;
    width: 55px;
  }