/* SportsGroup.css */

/* Style the container for all the tables */

.Groups {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 25px;
  position: relative;
  overflow-y: auto;
  height: calc(100% - 113px);
  min-width: 680px;
}

/* Style the individual tables */
.Groups .tg {
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  /* Add a fixed height to each table container */
  height: auto;
  overflow: hidden;
  min-width: 655px;
 
}

.Groups .datekickoff{
  width: 115px !important;
  text-align: left !important;
}

.Groups .tg th {
  
  border-bottom: 2px solid lightgray;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  width: 55px;
}

.Groups .tg .tg-0la1{
  font-weight: bold;
  text-align: left ;
  min-width: 160px;
}

.Groups .tg .tg-0la3{
  font-weight: bold;
  text-align: left ;
  min-width: 140px;
}

.Groups .tg .tg-0pk1{
  text-align: left ;
  width: 135px ;
}

.Groups .opponent{
  
  width: 100px !important;
}

.Groups .tg td {
  border: 2px solid white;
  padding: 4px;
  text-align: center;
  min-width: 55px;
}


/* Style the table header and team name column */
.tg-0pkt,
.tg-0lax {
  
  font-weight: bold;
  width: 55px;
}



/* Style the odd rows with a light background color */
.tg tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.tg tbody tr:nth-child(even) {
  background-color: white;
}

/* Style the table header cells on smaller screens */
@media screen and (max-width: 500px) {
  .tg th {
    font-size: 12px;
    padding: 8px;
  }
}

/* Style the table data cells on smaller screens */
@media screen and (max-width: 500px) {
  .tg td {
    font-size: 12px;
    padding: 6px;
  }
}

.selected {
  background-color: #f9f9f9;
}



/* Style the fixtures table */
.tg-fixtures {
   max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease; /* Add CSS transition for smooth sliding */
  width: 100%;
  border-collapse: collapse;
  padding: 0px;
  
}

.tg-fixtures td {
  border: 1px solid #dddddd;
  
}

.tg-fixtures.show {
  max-height: 1000px; /* Adjust this value to fit the actual content height */
}

.table-container h2 {
  font-size: 18px;
  font-weight: bold;
  color: grey ;
  
}

.stageName {
  font-size: 18px;
  font-weight: bold;
  color: grey ;
}

.flag-icon {
  width: 30px;    /* Or whatever size you prefer */
  height: auto;   /* Keeps the aspect ratio */
  margin-right: 5px;
}

.Groups .tg .tg-0la1{
  background-color: white;
  transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.Groups .tg .tg-0la1:hover{
  background-color: #005794;
  transform: translateY(-1px);
  box-shadow: 0 10px 10px -7px rgba(255, 255, 255, 0.3);
  color: white;
}