.FitnessGame {

    overflow-y: hidden;
    
}

.FitnessPanel {
    background-image: url('../../../Assets/vobX3wH-dungeons-and-dragons-wallpaper\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }


.FitnessnavbarRE {
    position: absolute;
    height: 59px;
    width: 55%;

    transition: all 0.5s ease;

}



.FitnessPanel {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    top: 0px;
    left: 78px;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    background-color: rgb(244, 246, 248);
}

.sideNav.active~.FitnessQuest .FitnessPanel {
    width: calc(100% - 205px);
    left: 205px
}



.inputPanel {
    width: 33%;
    background-color: rgb(240, 240, 245);
    border-right: 2px solid lightgray;
    position: relative;
    top: 65px;
    height: calc(100% - 66px);
}

.infoPanel {
    width: 67%;
    border-right: 2px solid lightgray;
    background-color: white;
    position: relative;
    top: 65px;
    height: calc(100% - 66px);
    opacity: 95%;
}

.inputInfoWrapper {
    width: 55%;
    display: flex;
    justify-content: center;
}

.LVLbar {
    width: 90%;
    height: 15px;
    background-color: rgb(151, 151, 151);
    margin-left: 40px;

    border-radius: 12px;
}

.LVLprogress {
    height: 100%;
    width: 75%;
    background-color: rgb(33, 179, 33);
    border-radius: 12px;
}

.inputPanel-img {
    border: 1px solid lightgray;
    height: 256px;
    width: 256px;
    margin: 40px 0px 20px 40px;
}

.level-info {
    display: flex;
    margin-left: 40px;
    justify-content: space-between;
}

.level-info h5:last-child {
    padding-right: 20px;
}

.FriendsWrapper,
.AchivementsWrapper,
.GroupsWrapper {
    display: flex;
    margin-left: 40px;
    justify-content: space-between;
    margin-top: 20px;
}

.FriendsWrapper h5:last-child,
.AchivementsWrapper h5:last-child,
.GroupsWrapper h5:last-child {
    padding-right: 20px;
}

.inputPanel p,
.FriendsWrapper p,
.AchivementsWrapper p,
.GroupsWrapper p {
    margin-left: 40px;
}

.UserNameBar{
    height: 65px;
    background-color: rgb(240, 240, 240);
    border-bottom: 2px solid lightgrey;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px
    
}

.Tabselection{
    height: 45px;
    border-bottom: 1px solid lightgrey;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    

}

.InputWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-control{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
